{% extends "admin/admin.twig" %}

{%  block posts %}
    <div class="container login-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <a href="postform" class="create-user">Add post +</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.body }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}   