{% extends "admin/admin.twig" %}

{%  block posts %}
    <div class="container login-container">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Title 1</td>
                            <td>02-10-2019</td>
                        </tr>
                        <tr>
                            <td>Title 2</td>
                            <td>03-10-2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}   