{% extends "admin/admin.twig" %}
{%  block posts %}
<div class="col-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jacob</td>
                    <td>02-10-2019</td>
                </tr>
                <tr>
                    <td>Larry</td>
                    <td>03-10-2019</td>
                </tr>
            </tbody>
        </table>
        </div>
{% endblock %}    
    

